---


resources: "config/resources.yaml"
samples: "config/samples.tsv"
units: "config/units.tsv"

output: "config/output_list.json"

default_container: "docker://hydragenetics/common:1.10.2"

modules:
  alignment: "v0.4.0"
  annotation: "v0.3.0"
  compression: "v2.0.0"
  cnv_sv: "b549266"
  filtering: "v0.3.0"
  parabricks: "074a4dc"
  prealignment: "v1.2.0"
  qc: "da66130"
  mitochondrial: "v0.1.0"
  snv_indels: "v0.5.0"

reference:
  coverage_bed: "/beegfs-storage/data/ref_data/refseq/refseq_select_mane_with_MT_20240102.bed"   #Created bed with https://github.com/zezzipa/UCSCtable2bed
  design_bed: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/homo_sapiens.hg38.wgs.bed"
  exome_bed: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/Twist_Comprehensive_Exome_Covered_Targets_hg38.bed"
  exome_intervals: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/Twist_Comprehensive_Exome_Covered_Targets_hg38.interval_list"
  fasta: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta"
  fai: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.fai"
  genepanels: "/beegfs-storage/projects/wp3/Reference_files/Manifest/Clinical_research_exome/Gene_panels/genepanels_WGS.list"
  sites: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/Homo_sapiens_assembly38.known_indels.vcf.gz"
  wgs_intervals: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/homo_sapiens.hg38.wgs.interval_list"

trimmer_software: "fastp_pe"

aligner: "bwa_gpu" # "bwa_cpu" or "bwa_gpu"
snp_caller: "deepvariant_gpu" # "deepvariant_cpu" or "deepvariant_gpu"

automap:
  container: "docker://hydragenetics/automap:1.2"
  build: "hg38"
  extra: "--DP 10 --minsize 3 --chrX"
  outdir: "cnv_sv/automap"

bcftools_view_biallelic:
  extra: "-m2 -M2 -v snps"

bcftools_view_pass:
  extra: "--apply-filter PASS "

bcftools_view_svdb:
  extra: "-e tiddit_AF>0.01 | manta_AF>0.01 | cnvpytor_AF>0.01"

bwa_mem:
  container: "docker://hydragenetics/bwa:0.7.15"
  extra: "-K 10000000 "
  amb: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.amb"
  ann: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.ann"
  bwt: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.bwt"
  pac: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.pac"
  sa: "/beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GCA_000001405.15_GRCh38_no_alt_analysis_set_GRCmasked.fasta.sa"

bwa_mem_mito:
  container: "docker://hydragenetics/bwa_mem:0.7.17"
  extra: "-K 100000000 -v3 -Y "
  amb:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta.amb"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.amb"
  ann:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta.ann"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.ann"
  bwt:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta.bwt"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.bwt"
  pac:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta.pac"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.pac"
  sa:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta.sa"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.sa"

cnvpytor_readdepth:
  container: "docker://hydragenetics/cnvpytor:1.3.1"
  length_list: "500 10000 100000"

cnvpytor_filter:
  container: "docker://hydragenetics/cnvpytor:1.3.1"
  dG_range: "100000 inf"
  calling_model: "rd_mean_shift"
  p_range: "0 0.01"
  pN_range: "0 0.5"
  Q0_range: "-1 0.5"
  view: "500"

create_cov_excel:
  covLimits: "10 20 30"

deepvariant_call_variants:
  container: "docker://google/deepvariant:1.5.0" 
  model: "/opt/models/wgs/model.ckpt" # path to model in the deepvariant container

deepvariant_make_examples:
  container: "docker://google/deepvariant:1.5.0" 
  extra: "--channels insert_size"
  n_shards: 80

deepvariant_postprocess_variants:
  container: "docker://google/deepvariant:1.5.0" 
  vcf_type: "gvcf"

expansionhunter:
  container: "docker://hydragenetics/expansionhunter:5.0.0"
  variant_catalog: "/beegfs-storage/data/ref_data/stranger/v0.8.1/variant_catalog_hg38.json"

fastp_pe:
  container: "docker://hydragenetics/fastp:0.20.1"
  # Default enabled trimming parameters for fastp. Specified for clarity.
  extra: "--trim_poly_g --qualified_quality_phred 15 --unqualified_percent_limit 40 --n_base_limit 5 --length_required 15"

fastqc:
  container: "docker://hydragenetics/fastqc:0.11.9"

filter_vcf:
  germline: "config/config_hard_filter_germline.yaml"

gatk_collect_wgs_metrics:
  container: "docker://hydragenetics/gatk4:4.2.2.0"
  coverage_cap: 100000
  read_length: 151

gatk_filter_contamination:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_filter_mutect_calls_mt:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_left_align_and_trim_variants:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_lift_over_vcf:
  container: "docker://hydragenetics/gatk4:4.2.2.0"
  shift_back_chain: "/beegfs-storage/data/ref_data/gatk_mito/ShiftBack.chain"

gatk_mark_duplicates:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_merge_bam_alignment:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_merge_vcfs:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_merge_stats:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_mutect2:
  container: "docker://hydragenetics/gatk4:4.2.2.0"
  interval:
    mt: "/beegfs-storage/data/ref_data/gatk_mito/non_control_region.chrM.interval_list"
    mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/control_region_shifted.chrM.interval_list"
  max_reads_per_alignment_start: 75

gatk_print_reads:
  container: "docker://hydragenetics/gatk4:4.2.2.0"
  interval: "chrM"

gatk_revert_sam:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_sam_to_fastq:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_select_variants:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_sort_sam:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_split_multi_allelic_sites:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

gatk_variant_filtration:
  container: "docker://hydragenetics/gatk4:4.2.2.0"

glnexus_trio:
  container: "docker://ghcr.io/dnanexus-rnd/glnexus:v1.4.1"
  configfile: "DeepVariantWGS"

glnexus_peddy:
  container: "docker://ghcr.io/dnanexus-rnd/glnexus:v1.4.1"
  configfile: "DeepVariantWGS"
  extra: "--bed /beegfs-storage/data/ref_data/peddy/v0.4.8/GRCH38.bed "

haplocheck:
  container: "docker://hydragenetics/haplocheck:1.3.3"

manta_config_n:
  container: "docker://hydragenetics/manta:1.6.0"
  extra: "--callRegions /beegfs-storage/data/ref_genomes/GRCh38/GRCmasked/GRCh38_chromosomes.bed.gz"

manta_run_workflow_n:
  container: "docker://hydragenetics/manta:1.6.0"

mosdepth:
  container: "docker://hydragenetics/mosdepth:0.3.2"
  by: "500"
  extra: "--fast-mode --no-per-base "

mosdepth_bed:
  container: "docker://hydragenetics/mosdepth:0.3.2"
  extra: ""

multiqc:
  container: "docker://hydragenetics/multiqc:1.11"
  reports:
    DNA:
      config: "config/multiqc_config_DNA.yaml"
      included_unit_types: ["N"]
      qc_files:
        - "qc/fastqc/{sample}_{type}_{flowcell}_{lane}_{barcode}_fastq1_fastqc.zip"
        - "qc/fastqc/{sample}_{type}_{flowcell}_{lane}_{barcode}_fastq2_fastqc.zip"
        - "qc/mosdepth/{sample}_{type}.mosdepth.summary.txt"
        - "qc/mosdepth/{sample}_{type}.mosdepth.region.dist.txt"
        - "qc/mosdepth/{sample}_{type}.mosdepth.global.dist.txt"
        - "qc/peddy/peddy.peddy.ped"
        - "qc/peddy/peddy.background_pca.json"
        - "qc/peddy/peddy.ped_check.csv"
        - "qc/peddy/peddy.sex_check.csv"
        - "qc/peddy/peddy.het_check.csv"
        - "qc/peddy/peddy_sex_check_mqc.tsv"
        - "qc/peddy/peddy_rel_check_mqc.tsv"
        - "qc/picard_collect_alignment_summary_metrics/{sample}_{type}.alignment_summary_metrics.txt"
        - "qc/picard_collect_duplication_metrics/{sample}_{type}.duplication_metrics.txt"
        - "qc/picard_collect_gc_bias_metrics/{sample}_{type}.gc_bias.summary_metrics"
        - "qc/picard_collect_hs_metrics/{sample}_{type}.HsMetrics.txt"
        - "qc/picard_collect_insert_size_metrics/{sample}_{type}.insert_size_metrics.txt"
        - "qc/picard_collect_wgs_metrics/{sample}_{type}.txt"
        - "qc/samtools_stats/{sample}_{type}.samtools-stats.txt"
        - "qc/samtools_idxstats/{sample}_{type}.samtools-idxstats.txt"
        - "qc/verifybamid2/{sample}_{type}.selfSM"

mt_reference:
  mt: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.fasta"
  mt_shifted: "/beegfs-storage/data/ref_data/gatk_mito/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
  blacklist: /beegfs-storage/data/ref_data/gatk_mito/blacklist_sites.hg38.chrM.bed

pbrun_deepvariant:
  container: "docker://nvcr.io/nvidia/clara/clara-parabricks:4.2.1-1"
  extra: "--num-cpu-threads-per-stream 5 --num-streams-per-gpu 2 --disable-use-window-selector-model --gvcf " ## For consistency with deepvariant cpu. Also increases accuracy. 

pbrun_fq2bam:
  container: "docker://nvcr.io/nvidia/clara/clara-parabricks:4.2.1-1"
  extra: "--gpusort --gpuwrite --num-cpu-threads-per-stage 10 "

peddy:
  container: "docker://hydragenetics/peddy:0.4.8"
  config: "config/peddy_mqc.yaml"
  extra: "--sites hg38 "

picard_collect_alignment_summary_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_collect_duplication_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_collect_gc_bias_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_collect_hs_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_collect_insert_size_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_collect_wgs_metrics:
  container: "docker://hydragenetics/picard:2.25.0"

picard_mark_duplicates:
  container: "docker://hydragenetics/picard:2.25.4"

reviewer:
  container: "docker://hydragenetics/reviewer:0.2.7"

samtools_stats:
  container: "docker://hydragenetics/common:1.10.1"

samtools_idxstats:
  container: "docker://hydragenetics/common:1.10.1"

samtools:
  container: "docker://hydragenetics/common:1.10.1"

smn_caller:
  container: "docker://hydragenetics/smncopynumbercaller:1.1.2"
  genome_version: '38'

smn_charts:
  container: "docker://hydragenetics/smncopynumbercaller:1.1.2"

spring:
  container: "docker://hydragenetics/spring:1.0.1"

stranger:
  container: "docker://hydragenetics/stranger:0.8.1"
  catalog: "/beegfs-storage/data/ref_data/stranger/v0.8.1/variant_catalog_hg38.json"

svdb_merge:
  container: "docker://hydragenetics/svdb:2.8.2"
  overlap: 0.6
  extra: "--pass-only "

svdb_query:
  container: "docker://hydragenetics/svdb:2.8.2"
  db_string:
    "--db /beegfs-storage/data/ref_data/wp3/svdb/svdb_create/tiddit_wgs_hg38_1.0.vcf.gz,/beegfs-storage/data/ref_data/wp3/svdb/svdb_create/manta_wgs_hg38_1.0.vcf.gz,/beegfs-storage/data/ref_data/wp3/svdb/svdb_create/cnvpytor_wgs_hg38_1.0.vcf.gz"
  extra: "--in_frq FRQ,FRQ,FRQ --in_occ OCC,OCC,OCC --out_frq tiddit_AF,manta_AF,cnvpytor_AF --out_occ tiddit_OCC,manta_OCC,cnpytor_OCC "

tabix:
  container: "docker://hydragenetics/common:1.10.1"

tiddit:
  container: "docker://hydragenetics/tiddit:3.3.2"

upd:
  container: "docker://hydragenetics/upd:0.1.1"
  extra: "--vep "

vep:
  container: "docker://ensemblorg/ensembl-vep:release_109.3"
  vep_cache: "/beegfs-storage/data/ref_genomes/VEP/"
  extra: "--assembly GRCh38 --check_existing --pick --sift b --polyphen b --ccds --symbol --af --af_1kg --af_gnomad --max_af"

vep_trio:
  container: "docker://ensemblorg/ensembl-vep:release_109.3"
  vep_cache: "/beegfs-storage/data/ref_genomes/VEP/"
  extra: "--assembly GRCh38 --check_existing --pick --max_af --buffer_size 50000"

verifybamid2:
  container: "docker://hydragenetics/verifybamid2:2.0.1"
  svd_mu: "/beegfs-storage/data/ref_data/verifybamid2/1000g.phase3.100k.b38.vcf.gz.dat.mu"

vt_decompose:
  container: "docker://hydragenetics/vt:2015.11.10"
