---

default_resources:
  threads: 1
  time: "12:00:00"
  mem_mb: 6144
  mem_per_cpu: 6144
  partition: "core"

deepvariant:
  threads: 10

expansionhunter:
  threads: 16

fastp_pe:
  threads: 5
  mem_mb: 30720
  mem_per_cpu: 6144

fastqc:
  threads: 2
  mem_mb: 12288
  mem_per_cpu: 6144

glnexus:
  threads: 20

mosdepth:
  mem_mb: 36864
  threads: 3

mosdepth_bed:
  mem_mb: 36864
  threads: 4

pbrun_fq2bam:
  gres: "--gres=gpu:4"
  mem_mb: 770000
  mem_per_cpu: 4096
  partition: "GPU"
  threads: 40
  time: "20:00:00"

pbrun_deepvariant:
  gres: "--gres=gpu:4"
  mem_mb: 385000
  mem_per_cpu: 4096
  partition: "GPU"
  threads: 20
  time: "20:00:00"

peddy:
  threads: 8

smn_caller:
  threads: 8

spring:
  mem_mb: 368640
  threads: 8

tiddit:
  threads: 8
