---

default_resources:
  threads: 1
  time: "12:00:00"
  mem_mb: 3072
  mem_per_cpu: 3072
  partition: "core"

bwa_mem_mito:
  mem_mb: 6144
  mem_per_cpu: 3072
  threads: 2


deepvariant:
  threads: 10


expansionhunter:
  threads: 16


fastp_pe:
  threads: 2
  time: "12:00:00"


fastqc:
  threads: 10
  time: "02:00:00"


gatk_mark_duplicates:
  mem_mb: 4096
  mem_per_cpu: 4096


gatk_sam_to_fastq:
  mem_mb: 5120
  mem_per_cpu: 5120


gatk_sort_sam:
  mem_mb: 4096
  mem_per_cpu: 4096


glnexus:
  threads: 20


mosdepth:
  mem_mb: 36864
  threads: 4


mosdepth_bed:
  mem_mb: 36864
  threads: 4
  

pbrun_fq2bam:
  gres: "--gres=gpu:4"
  mem_mb: 770000
  mem_per_cpu: 4096
  partition: "GPU"
  threads: 40
  time: "20:00:00"


pbrun_deepvariant:
  gres: "--gres=gpu:4"
  mem_mb: 385000
  mem_per_cpu: 4096
  partition: "GPU"
  threads: 20
  time: "20:00:00"


peddy:
  threads: 8


spring:
  mem_mb: 368640
  threads: 8


tiddit:
  threads: 8
