$schema: "http://json-schema.org/draft-04/schema#"
description: snakemake configuration file
type: object
properties:
  resources:
    type: string
    description: Path to resources.yaml file
  samples:
    type: string
    description: Path to samples.tsv file
  units:
    type: string
    description: Path to units.tsv file
  trimmer_software:
    type: string
  default_container:
    type: string
    description: name or path to a default docker/singularity container
  reference:
    type: object
    properties:
      fasta:
        type: string
        description: path to reference fasta file
      sites:
        type: string
        description: path to known sites list file
    required:
      - fasta
      - sites
  
  create_cov_excel:
    type: object
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded
      covLimits:
        type: string
        description: for which coverage depth should the percentage of bases with that coverage or above be calculated, default value "10 20 30"

  deepvariant_add_ref:
    type: object
    description: parameters for deepvariant_add_ref
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  vcf_to_aed:
    type: object
    description: parameters for vcf_to_aed
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded
  
  vcf_to_aed_filtered:
    type: object
    description: parameters for vcf_to_aed_filtered
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  svdb_add_ref:
    type: object
    description: parameters for svdb_add_ref
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded

  tiddit_add_ref:
    type: object
    description: parameters for tiddit_add_ref
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded



# Entry added using Hydra-Genetics CLI - please move it into alphabetically sorted order
  bcftools_split_vep:
    type: object
    description: parameters for bcftools_split_vep
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded



# Entry added using Hydra-Genetics CLI - please move it into alphabetically sorted order
  fix_sv_header:
    type: object
    description: parameters for fix_sv_header
    properties:
      benchmark_repeats:
        type: integer
        description: set number of times benchmark should be repeated
      container:
        type: string
        description: name or path to docker/singularity container
      extra:
        type: string
        description: parameters that should be forwarded
  required:
      - samples
      - units
      - resources
      - default_container
      - reference
 
